@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl700.eot');
    src: url('MuseoSansCyrl700.eot') format('embedded-opentype'),
         url('MuseoSansCyrl700.woff2') format('woff2'),
         url('MuseoSansCyrl700.woff') format('woff'),
         url('MuseoSansCyrl700.ttf') format('truetype'),
         url('MuseoSansCyrl700.svg#MuseoSansCyrl700') format('svg');
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('fonts/MuseoSansCyrl500.eot');
    src: url('fonts/MuseoSansCyrl500.eot') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl500.woff2') format('woff2'),
         url('fonts/MuseoSansCyrl500.woff') format('woff'),
         url('fonts/MuseoSansCyrl500.ttf') format('truetype'),
         url('fonts/MuseoSansCyrl500.svg#MuseoSansCyrl500') format('svg');
}

