.response{
    padding-bottom: 71px;
    &__block{
        display: flex;
        align-items: center;
        margin-top: 100px;
        &:nth-child(2){
            margin-top: 70px;
        }
        img{
            width: 169px;
            height: 169px;
            border-radius: 50%;
        }
    }
    &-info{
        margin-left: 62px;
        padding-right: 60px;
        &__title{
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        }
        &__subtitle{
            color: #646464;
            font-size: 14px;
            font-weight: 500;
        }
        &__about{
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 300;
            margin-top: 10px;
        }
    }

}